@using BTC.Model.View;
@{
    ViewBag.Title = "Profilim";
}

@model CurrentUserModel

<div class="animated fadeIn">
    <div class="row">
        <div class="col-xs-12 col-sm-12">
            <form id="profileForm" name="profileForm" method="POST" novalidate="">
                <div class="card">
                    <div class="card-header">
                        <strong>Profil Bilgileri</strong> - <small>@Model.FullName</small>
                    </div>
                    <div class="card-body card-block">
                        <input type="hidden" id="ID" name="ID" value="@Model.CurrentUser.ID">
                        <div class="form-group">
                            <label class=" form-control-label">Ad</label>
                            <div class="input-group">
                                <div class="input-group-addon"><i class="fa fa-user"></i></div>
                                <input type="text" id="FirstName" name="FirstName" placeholder="Text" value="@Model.CurrentUser.FirstName" class="form-control">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class=" form-control-label">Soyad</label>
                            <div class="input-group">
                                <div class="input-group-addon"><i class="fa fa-user"></i></div>
                                <input type="text" id="LastName" name="LastName" placeholder="Text" value="@Model.CurrentUser.LastName" class="form-control">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class=" form-control-label">Facebook</label>
                            <div class="input-group">
                                <div class="input-group-addon"><i class="fa fa-facebook-f"></i></div>
                                <input type="text" id="Facebook" name="Facebook" placeholder="Text" value="@Model.CurrentUser.Facebook" class="form-control">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class=" form-control-label">Instagram</label>
                            <div class="input-group">
                                <div class="input-group-addon"><i class="fa fa-instagram"></i></div>
                                <input type="text" id="Instagram" name="Instagram" placeholder="Text" value="@Model.CurrentUser.Instagram" class="form-control">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class=" form-control-label">Linkedin</label>
                            <div class="input-group">
                                <div class="input-group-addon"><i class="fa fa-linkedin-square"></i></div>
                                <input type="text" id="Linkedin" name="Linkedin" placeholder="Text" value="@Model.CurrentUser.Linkedin" class="form-control">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class=" form-control-label">Profil Özeti</label>
                            <div class="input-group">
                                <div class="input-group-addon"><i class="fa fa-user"></i></div>
                                <textarea class="form-control" rows="5" id="Summary" name="Summary">@Model.CurrentUser.Summary</textarea>
                            </div>
                        </div>
                        @*<div class="form-group">
                                <label class=" form-control-label">Profil Fotografı</label>
                                <div class="input-group">
                                    <div class="input-group-addon"><i class="fa fa-image"></i></div>
                                    <div class="col-12 col-md-9"><input type="file" id="ProfilePhotoUrl" name="ProfilePhotoUrl" class="form-control-file"></div>
                                </div>
                            </div>*@
                    </div>
                    <div class="card-footer">
                        <button type="button" class="btn btn-primary btn-sm" onclick="submitProfileForm()">
                            <i class="fa fa-dot-circle-o"></i> Kaydet
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

@section scripts{
    @Scripts.Render("~/bundles/js/user-operation")
}
