@using BTC.Model.View
@{
    ViewBag.Title = Model.Title;
    ViewBag.SelectPage = "makaleler";
}
@model PostModel

<div class="feed-content blog-single">
    <div class="box-single-img">
        <div class="gr-back"></div>
        <div class="container info-blog">
            <div class="row">
                <div class="col-md-12">
                    <i class="far fa-clock"></i>
                    <span>@Model.CreateDate.ToShortDateString()</span>
                    <i class="fas fa-user-tie"></i>
                    <span>@Model.Writer</span>
                    <i class="far fa-eye"></i>
                    <span>@Model.ViewCount</span>
                    <h3>@Model.Title</h3>
                </div>
            </div>
        </div>
    </div>
    <div class="container content-single-art">
        <div class="row">

            <div class="col-md-8 box-blog-single">
                <div class="box-article">

                    @Html.Raw(Model.Body)
                </div>

                <div class="box-comment">
                    <div class="comments-author">
                        <img src="~/Images/_userfiles/profile/small/@Model.WriterPhoto" alt="@Model.Writer" />
                    </div>
                    <div class="author">
                        <h3>@Model.Writer</h3>
                    </div>
                    <div class="response">
                        <p class="txt-response">Yorumlar</p>

                        @if (Model.PostComments != null)
                        {
                            foreach (var item in Model.PostComments)
                            {
                                <div class="row comment">
                                    <div class="col-md-2">
                                        <img src="~/assets/images/avatar.png" />
                                    </div>
                                    <div class="col-md-10">
                                        <h3>@item.Name</h3>
                                        <p>@item.CreateDate.ToLongDateString()</p>
                                        <p class="response-art">
                                            @item.Description
                                        </p>
                                    </div>
                                </div>
                            }
                        }

                        <div class="row leave-comment">
                            <div class="col-md-12">
                                <h3>Yorum Ekle</h3>
                                <form id="contact-form" role="form" method="POST" action="#">
                                    <input type="hidden" value="1" name="TypeID" class="form-control" id="TypeID">
                                    <input type="hidden" value="@Model.ID" name="PostID" class="form-control" id="PostID">
                                    <div class="row">
                                        <div class="form-group col-lg-6">
                                            <label for="input1">Ad *</label>
                                            <input type="text" name="Name" placeholder="" class="form-control" id="Name">
                                        </div>
                                        <div class="clearfix"></div>
                                        <div class="form-group col-lg-6">
                                            <label for="input2">Email  *</label>
                                            <input type="email" name="Email" placeholder="e.g. mail@example.com" class="form-control" id="Email">
                                        </div>
                                        <div class="clearfix"></div>
                                        <div class="form-group col-lg-12">
                                            <label for="input4">Yorum</label>
                                            <textarea name="Description" class="form-control" rows="7" cols="30" id="Description"></textarea>
                                        </div>
                                        <div class="form-group btn-send col-lg-12">
                                            <button type="submit" class="btn btn-more">Yorum Ekle</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-4 box-right-feed">
                <div class="right-column">
                    @Html.Action("_GetPartialViewBestViewPosts")
                    @Html.Action("_GetCategories")
                </div>
            </div>

        </div>
    </div>


</div>


@section scripts
{
    <script src="~/Scripts/Application/Blog/blog-detail.js"></script>
}

