@using BTC.Common.Constants;
@using BTC.Model.View
@using BTC.Common.Session;
@{
    CurrentUserModel currentUser = SessionVariables.User;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>BTC Panel - @ViewBag.Title</title>
    <meta name="description" content="Sufee Admin - HTML5 Admin Template">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="apple-touch-icon" href="apple-icon.png">
    <link rel="shortcut icon" href="favicon.ico">

    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800' rel='stylesheet' type='text/css'>

    @Styles.Render("~/Content/css/vendor")
    <link rel="stylesheet" href="~/Content/assets/css/style.css">
    @Scripts.Render("~/bundles/modernizr")
    @Styles.Render("~/bundles/css/toastr")

    @RenderSection("styles", false);

</head>
<body>

    <aside id="left-panel" class="left-panel">
        <nav class="navbar navbar-expand-sm navbar-default">

            <div class="navbar-header">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#main-menu" aria-controls="main-menu" aria-expanded="false" aria-label="Toggle navigation">
                    <i class="fa fa-bars"></i>
                </button>
                <a class="navbar-brand" href="./"><img src=" http://85.95.240.159//assets/images/logo.png" alt="Logo" style="max-width:50px"></a>
                <a class="navbar-brand hidden" href="./"><img src="http://85.95.240.159//assets/images/logo.png" alt="Logo"></a>
            </div>

            <div id="main-menu" class="main-menu collapse navbar-collapse">
                <ul class="nav navbar-nav">



                    @if (currentUser.IsAdmin)
                    {
                        @*Sadece Admin*@
                        <li class="active">
                            <a href="./"> <i class="menu-icon fa fa-dashboard"></i>Dashboard </a>
                        </li>

                        <li class="menu-item-has-children dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i class="menu-icon fa fa-laptop"></i>Site Ayarları</a>
                            <ul class="sub-menu children dropdown-menu">
                                <li><i class="fa fa-share-square-o"></i><a href="~/site-ayarlari">Site Ayarları</a></li>
                                <li><i class="fa fa-id-card-o"></i><a href="~/mail-ayarlari">Mail Ayarları</a></li>
                                <li><i class="fa fa-exclamation-triangle"></i><a href="~/sms-ayarlari">Sms Ayarları</a></li>
                                @*<li><i class="fa fa-spinner"></i><a href="ui-progressbar.html">Üyelik Ayarları</a></li>
                                    <li><i class="fa fa-fire"></i><a href="ui-modals.html">Site Bilgileri</a></li>*@
                                <li><i class="fa fa-share-square-o"></i><a href="~/kullanicilar">Kullanıcı Listesi</a></li>
                                <li><i class="fa fa-id-card-o"></i><a href="~/makale-listesi">Makale Listesi</a></li>
                                <li><i class="fa fa-exclamation-triangle"></i><a href="~/urun-listesi">Ürün Listesi</a></li>
                                @*<li><i class="fa fa-id-card-o"></i><a href="~/menu-icerikleri">İçerik Listesi</a></li>*@
                                @*<li><i class="fa fa-id-card-o"></i><a href="~/haberler">Haber Listesi</a></li>*@
                                <li><i class="fa fa-share-square-o"></i><a href="~/yorum-listesi">Yorum Listesi</a></li>
                                <li><i class="fa fa-id-card-o"></i><a href="~/kategori-listesi">Kategori Listesi</a></li>
                                <li><i class="fa fa-exclamation-triangle"></i><a href="~/menu-ayarlari">Menü Ayarları</a></li>
                                <li><i class="fa fa-exclamation-triangle"></i><a href="~/sehirler">Şehir Ayarları</a></li>
                            </ul>
                        </li>

                        @*Sadece Admin*@
                        <li class="menu-item-has-children dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i class="menu-icon fa fa-tasks"></i>İçerik Bilgileri</a>
                            <ul class="sub-menu children dropdown-menu">
                                <li><i class="fa fa-id-badge"></i><a href="/menu-icerikleri">İçerik Listesi</a></li>
                                <li><i class="fa fa-puzzle-piece"></i><a href="/icerik-olustur">İçerik Ekle</a></li>
                            </ul>
                        </li>

                        @*Sadece Admin*@
                        <li class="menu-item-has-children dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i class="menu-icon fa fa-tasks"></i>Haber Bilgileri</a>
                            <ul class="sub-menu children dropdown-menu">
                                <li><i class="fa fa-id-badge"></i><a href="/haberler">Haber Listesi</a></li>
                                <li><i class="fa fa-puzzle-piece"></i><a href="/yeni-haber-ekle">Haber Ekle</a></li>
                            </ul>
                        </li>

                        @*Sadece Admin*@
                        <li class="menu-item-has-children dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i class="menu-icon fa fa-tasks"></i>Anasayfa Bilgileri</a>
                            <ul class="sub-menu children dropdown-menu">
                                <li><i class="fa fa-id-badge"></i><a href="/slider-ayarlari">Slider</a></li>
                                <li><i class="fa fa-puzzle-piece"></i><a href="/ana-sayfa-ayarlari">İçerikler</a></li>
                            </ul>
                        </li>
                        @*Sadece Admin*@
                        <li class="menu-item-has-children dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i class="menu-icon fa fa-tasks"></i>Sayfa Bilgileri</a>
                            <ul class="sub-menu children dropdown-menu">
                                <li><i class="fa fa-id-badge"></i><a href="/sayfalar">Sayfa Listesi</a></li>
                                <li><i class="fa fa-puzzle-piece"></i><a href="/yeni-sayfa-ekle">Sayfa Ekle</a></li>
                            </ul>
                        </li>
                    }



                    @if (currentUser.IsWriter)
                    {
                        @*Sadece Yazar*@
                        <li class="menu-item-has-children dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i class="menu-icon fa fa-tasks"></i>Makale Bilgileri</a>
                            <ul class="sub-menu children dropdown-menu">
                                <li><i class="fa fa-id-badge"></i><a href="/makalelerim">Makale Listesi</a></li>
                                <li><i class="fa fa-puzzle-piece"></i><a href="/yeni-makale-ekle">Makale Ekle</a></li>
                            </ul>
                        </li>
                    }

                    @if (currentUser.IsSupplier)
                    {
                        @*Sadece VİP*@
                        <li class="menu-item-has-children dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i class="menu-icon fa fa-tasks"></i>Ürün Bilgileri</a>
                            <ul class="sub-menu children dropdown-menu">
                                <li><i class="fa fa-id-badge"></i><a href="/urunlerim">Ürün Listesi</a></li>
                                <li><i class="fa fa-puzzle-piece"></i><a href="/yeni-urun-ekle">Ürün Ekle</a></li>
                            </ul>
                        </li>
                    }

                    <li class="menu-item-has-children dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i class="menu-icon fa fa-user-circle"></i>Profil Bilgileri</a>
                        <ul class="sub-menu children dropdown-menu">
                            @*<li><i class="menu-icon fa fa-user"></i><a href="~/profilim">Profilim</a></li>*@
                            <li><i class="menu-icon fa fa-code"></i><a href="~/sifre-degistir">Şifre Değiştir</a></li>
                            <li><i class="menu-icon fa fa-sign-out"></i><a href="~/cikis-yap">Çıkış</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </nav>
    </aside>

    <div id="right-panel" class="right-panel">
        <header id="header" class="header">

            <div class="header-menu">

                <div class="col-sm-7">
                    <a id="menuToggle" class="menutoggle pull-left"><i class="fa fa fa-tasks"></i></a>
                    <div class="header-left">
                        <h2> @ViewBag.Title</h2>
                    </div>
                </div>

                <div class="col-sm-5">
                    <div class="user-area dropdown float-right">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">

                            @if (currentUser != null && !string.IsNullOrWhiteSpace(currentUser.CurrentUser.ProfilePhotoUrl))
                            {
                                <img class="user-avatar rounded-circle" src="@ConstantProxy.BaseSiteUrl/Images/_userfiles/profile/small/@currentUser.CurrentUser.ProfilePhotoUrl" alt="avatar" />
                            }
                            else
                            {
                                <img class="user-avatar rounded-circle" src="@ConstantProxy.BaseSiteUrl/assets/images/avatar.png" alt="avatar" />
                            }

                            @*<img class="user-avatar rounded-circle" src="@ConstantProxy.BaseProfilePhotoPath/" alt="User Avatar">*@
                        </a>

                        <div class="user-menu dropdown-menu" x-placement="bottom-start" style="position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(0px, 0px, 0px);">
                            <a class="nav-link" href="~/profilim"><i class="fa fa-user"></i> Profilim</a>

                            <a class="nav-link" href="~/sifre-degistir"><i class="fa fa-user-circle"></i> Şifre Değiştir</a>

                            <a class="nav-link" href="~/cikis-yap"><i class="fa fa-power-off"></i> Çıkış Yap</a>
                        </div>
                    </div>


                </div>
            </div>

        </header>

        <div class="content mt-3">
            @RenderBody()

        </div>
    </div>


    <script src="~/Scripts/Application/jquery.mask.min.js"></script>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/themescript")
    @Scripts.Render("~/bundles/js/toastr")
    @Scripts.Render("~/bundles/js/global")

    @RenderSection("scripts", required: false)


</body>
</html>
