@using BTC.Model.View
@using BTC.Common.Session;
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - @BTC.Common.Constants.StaticSettings.SiteSettings.SiteTitle</title>
    <link href="https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,400,700,600,300' rel='stylesheet' type='text/css'>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Styles.Render("~/bundles/css/toastr")
    @{
        CurrentUserModel currentUser = SessionVariables.User;
        if (ViewBag.SelectPage == null)
        {
            ViewBag.SelectPage = "ana-sayfa";
        }
    }

    @RenderSection("styles", false)

</head>
<body>
    <div id="loading">
        <div id="loading-center">
            <div id="loading-center-absolute">
                <div class="object" id="object_one"></div>
                <div class="object" id="object_two"></div>
                <div class="object" id="object_three"></div>
            </div>
        </div>
    </div>

    <input type="hidden" id="select-page" value="@ViewBag.SelectPage">

    <div class="wrapper">
        <nav id="sidebar">
            <div class="sidebar-header">
                <a href="~/ana-sayfa">
                    <h3 class="logo"><img src="/assets/images/logo.png" alt="logo" />Bitcoin Finans</h3>
                </a>
                <i class="fas fa-times"></i>
            </div>
            <div class="box-account">
                <div class="row m-0">
                    <div class="col-md-3 p-0 box-avatar">

                        @if (currentUser != null && !string.IsNullOrWhiteSpace(currentUser.CurrentUser.ProfilePhotoUrl))
                        {
                            <img src="~/Images/_userfiles/profile/small/@currentUser.CurrentUser.ProfilePhotoUrl" alt="avatar" />
                        }
                        else
                        {
                            <img src="/assets/images/avatar.png" alt="avatar" />
                        }

                    </div>
                    <div class="box-txt-account col-md-9 p-0">
                        @if (currentUser != null)
                        {
                            <div>
                                <p> Hoşgeldiniz - @currentUser.FullName </p>

                                @*@if (currentUser.IsAdmin)
                                    {
                                        <a target="_blank" href="http://localhost:50499/giris-yap">Panele Git</a>
                                    }*@
                                @*<a href="~/cikis-yap"> Çıkış</a>*@

                            </div>
                        }
                        else
                        {
                            <div>
                                <p>Üyeliğiniz var mı?</p>
                                <a href="~/giris-yap">Giriş Yap</a> yada <a target="_blank" href="~/yeni-uyelik-olustur">Kayıt Ol</a>
                            </div>
                        }

                    </div>
                </div>
            </div>
            <div class="box-list">
                <p class="sub-title">Dashboard</p>
                <ul class="list-unstyled components">
                    <li class="ana-sayfa">
                        <a href="~/ana-sayfa"><i class="fas fa-file-archive"></i> Ana Sayfa</a>
                    </li>
                    <li class="makaleler">
                        <a href="~/blog"><i class="fas fa-pen-nib"></i>Blog</a>
                    </li>
                    @if (currentUser != null && (currentUser.IsWriter || currentUser.IsAdmin))
                    {
                        <li class="makalelerim">
                            <a href="~/makalelerim"><i class="fas fa-pen"></i>Makalelerim</a>
                        </li>
                        <li class="yeni-makale">
                            <a href="~/yeni-makale-ekle"><i class="fas fa-plus"></i>Yeni Makale Ekle</a>
                        </li>
                    }

                </ul>
            </div>

            @if (currentUser != null && (currentUser.IsSupplier || currentUser.IsAdmin))
            {
                <div class="box-list">
                    <p class="sub-title">Tedarik</p>
                    <ul class="list-unstyled components">
                        <li class="urunler">
                            <a href="~/urunler"><i class="fas fa-arrow-right"></i>Ürünler</a>
                        </li>
                        @if (currentUser != null && (currentUser.IsWriter || currentUser.IsAdmin))
                        {
                            <li class="urunlerim">
                                <a href="~/urunlerim"><i class="fas fa-server"></i>Ürünlerim</a>
                            </li>
                            <li class="yeni-urun">
                                <a href="~/yeni-urun-ekle"><i class="fas fa-plus"></i>Yeni Ürün Ekle</a>
                            </li>
                        }
                    </ul>
                </div>
            }

            @if (BTC.Common.Constants.StaticSettings.ContentViews.Count > 0)
            {
                <div class="box-list">
                    <p class="sub-title">İçerİkler</p>
                    <ul class="list-unstyled components">

                        @if (currentUser != null)
                        {

                            foreach (var item in currentUser.ContentViews.OrderBy(x=>x.RowNumber).ToList())
                            {
                                <li class="@item.Uri">
                                    <a href="~/icerik/@item.Uri"><i class="fas fa-file-image"></i>@item.Title</a>
                                </li>
                            }

                        }
                        else
                        {
                            foreach (var item in BTC.Common.Constants.StaticSettings.ContentViews.Where(x => x.CanSeeUser).OrderBy(x=> x.RowNumber).ToList())
                            {
                                <li class="@item.Uri">
                                    <a href="~/icerik/@item.Uri"><i class="fas  fa-file-image"></i>@item.Title</a>
                                </li>
                            }
                        }


                    </ul>
                </div>
            }

            @if (currentUser != null && currentUser.IsAdmin)
            {
                <div class="box-list">
                    <p class="sub-title">Yönetim</p>
                    <ul class="list-unstyled components">
                        <li class="tum-uyeler">
                            <a href="~/kullanicilar"><i class="fas fa-users"></i>Kullanıcılar</a>
                        </li>
                        <li class="tum-makaleler">
                            <a href="~/makale-listesi"><i class="fas fa-list"></i>Makaleler</a>
                        </li>
                        <li class="tum-urunler">
                            <a href="~/urun-listesi"><i class="fas fa-list"></i>Ürünler</a>
                        </li>
                        <li class="tum-yorumlar">
                            <a href="~/yorum-listesi"><i class="fas fa-comments"></i>Yorumlar</a>
                        </li>
                        <li class="tum-kategoriler">
                            <a href="~/kategori-listesi"><i class="fas fa-list"></i>Kategoriler</a>
                        </li>
                        <li class="mail">
                            <a href="~/mail-ayarlari"><i class="fas fa-mail-bulk"></i>Mail Ayarları</a>
                        </li>
                        <li class="sms">
                            <a href="~/sms-ayarlari"><i class="fas fa-sms"></i>Sms Ayarları</a>
                        </li>
                        <li class="site">
                            <a href="~/site-ayarlari"><i class="fas fa-sitemap"></i>Site Ayarları</a>
                        </li>
                        <li class="icerik">
                            <a href="~/menu-icerikleri"><i class="fas fa-book"></i>İçerik Listesi</a>
                        </li>
                    </ul>
                </div>
            }
            <div class="box-list">
                <p class="sub-title">Biz Kimiz</p>
                <ul class="list-unstyled components">
                    <li class="hakkimizda">
                        <a href="~/hakkimizda"><i class="fas fa-user-friends"></i>Hakkımızda</a>
                    </li>
                    <li class="iletisim">
                        <a href="~/iletisim"><i class="far fa-envelope"></i>İletişim</a>
                    </li>
                </ul>
            </div>

            @if (currentUser != null)
            {

                <div class="box-list">
                    <p class="sub-title">Profilm</p>
                    <ul class="list-unstyled components">
                        <li class="profilim">
                            <a href="~/profilim"><i class="fas fa-user "></i>Profilim</a>
                        </li>
                        <li class="sifre">
                            <a href="~/sifre-degistir"><i class="fas fa-user-circle"></i>Şifre İşlemleri</a>
                        </li>
                        <li class="cikis">
                            <a href="~/cikis-yap"><i class="fas fa-arrow-right"></i>Çıkış</a>
                        </li>
                    </ul>
                </div>

            }
            else
            {
                <div class="box-sign-up">
                    <a target="_blank" href="~/yeni-uyelik-olustur">Kayıt Ol</a>
                </div>
            }

        </nav>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container-fluid top-menu">
                <button type="button" id="sidebarCollapse" class="btn btn-info">
                    <i class="fas fa-align-left"></i>
                </button>
            </div>

            <div id="root">

            </div>
        </nav>

        <div class="box-slideshow">

            <div id="content" style="margin-top: 50px;">
                @RenderBody()

                <footer>
                    <div class="back-img"></div>
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-3">
                                <h3>@BTC.Common.Constants.StaticSettings.SiteSettings.SiteTitle</h3>
                                <p>
                                    @BTC.Common.Constants.StaticSettings.SiteSettings.SiteDescription
                                </p>
                            </div>
                            <div class="col-lg-3">
                                <h3>Son Yorumlar</h3>

                                @foreach (var item in BTC.Common.Constants.StaticSettings.LastComments)
                                {
                                    <div class="footer-post">
                                        <span>@item.CreateDate.ToString("dd/MM/yyyy")</span>
                                        <h4>@item.Description</h4>
                                        <p><i class="fas fa-user"></i>by @item.Name</p>
                                    </div>
                                }
                            </div>
                            <div class="col-lg-3 links">
                                <h3>Hızlı Erişim</h3>
                                <ul>
                                    <li><a href="~/" target="_blank">Anasayfa</a></li>
                                    <li><a href="~/blog" target="_blank">Blog</a></li>
                                    <li><a href="~/urunler" target="_blank">Ürünler</a></li>
                                    <li><a href="~/hakkimizda" target="_blank">Hakkımızda</a></li>
                                    <li><a href="~/iletisim" target="_blank">İletişim</a></li>
                                </ul>
                            </div>
                            <div class="col-lg-3">
                                <h3>Sosyal Meda</h3>
                                @*<div class="newsletter-bx">
                                        <form role="search" method="post">
                                            <div class="input-group">
                                                <input name="news-letter" class="form-control" placeholder="ENTER YOUR EMAIL" type="text">
                                                <span class="input-group-btn">
                                                    <button type="submit" class="site-button"><i class="far fa-paper-plane"></i></button>
                                                </span>
                                            </div>
                                        </form>
                                    </div>*@

                                <div class="social">
                                    <ul>
                                        <li><a target="_blank" href="@BTC.Common.Constants.StaticSettings.SiteSettings.Facebook"><i class="fab fa-facebook-f"></i></a></li>
                                        <li><a target="_blank" href="@BTC.Common.Constants.StaticSettings.SiteSettings.Instagram"><i class="fab fa-instagram"></i></a></li>
                                        <li><a target="_blank" href="@BTC.Common.Constants.StaticSettings.SiteSettings.Linkedin"><i class="fab fa-linkedin-in"></i></a></li>
                                        @*<li><a href="#"><i class="fab fa-google-plus-g"></i></a></li>*@
                                    </ul>
                                </div>
                            </div>
                        </div>

                        <div class="row row-box-info">
                            <div class="col-md-3 block-info">
                                <div class="box-info-footer">
                                    <div class="row">
                                        <div class="col-md-4">
                                            <i class="fas fa-map-marker-alt"></i>
                                        </div>
                                        <div class="col-md-8 p-0">
                                            <h3>Adres</h3>
                                            <p>@BTC.Common.Constants.StaticSettings.SiteSettings.Address  </p>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-3 block-info">
                                <div class="box-info-footer">
                                    <div class="row">
                                        <div class="col-md-4">
                                            <i class="fas fa-mobile-alt"></i>
                                        </div>
                                        <div class="col-md-8 p-0">
                                            <h3>Telefon</h3>
                                            <p>@BTC.Common.Constants.StaticSettings.SiteSettings.Phone</p>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-3 block-info">
                                <div class="box-info-footer">
                                    <div class="row">
                                        <div class="col-md-4">
                                            <i class="fas fa-fax"></i>
                                        </div>
                                        <div class="col-md-8 p-0">
                                            <h3>Fax</h3>
                                            <p>@BTC.Common.Constants.StaticSettings.SiteSettings.Fax </p>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-3 block-info">
                                <div class="box-info-footer">
                                    <div class="row">
                                        <div class="col-md-4">
                                            <i class="fas fa-at"></i>
                                        </div>
                                        <div class="col-md-8 p-0">
                                            <h3>Email</h3>
                                            <p>@BTC.Common.Constants.StaticSettings.SiteSettings.ComtactEmail</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="box-copyright">
                        <p class="copy">
                            © @DateTime.Now.Year @BTC.Common.Constants.StaticSettings.SiteSettings.SiteTitle - ALL RIGHTS RESERVED
                        </p>
                    </div>
                </footer>
            </div>
        </div>
        <div id="back-to-top">
            <a class="top arrow" href="#top">
                <i class="fa fa-angle-up"></i>
                <span>TOP</span>
            </a>
        </div>
        <div class="md-overlay"></div>
        <hr />
    </div>


    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/js/toastr")
    @Scripts.Render("~/bundles/theme")
    @Scripts.Render("~/bundles/js/global")
    @RenderSection("scripts", required: false)

    <script type="text/javascript">



    </script>

</body>
</html>
