@using BTC.Model.View

@{

    CurrentUserModel currentUser = BTC.Common.Session.SessionVariables.User;
}

<nav id="sidebar">
    <div class="sidebar-header">
        <a href="~/ana-sayfa">
            <h3 class="logo"><img src="/assets/images/logo.png" alt="logo" />Bitcoin Finans</h3>
        </a>
        <i class="fas fa-times"></i>
    </div>
    <div class="box-account">
        <div class="row m-0">
            <div class="col-md-3 p-0 box-avatar">

                @if (currentUser != null && !string.IsNullOrWhiteSpace(currentUser.CurrentUser.ProfilePhotoUrl))
                {
                    <img src="~/Images/_userfiles/profile/small/@currentUser.CurrentUser.ProfilePhotoUrl" alt="avatar" />
                }
                else
                {
                    <img src="/assets/images/avatar.png" alt="avatar" />
                }

            </div>
            <div class="box-txt-account col-md-9 p-0">
                @if (currentUser != null)
                {
                    <div>
                        <p> Hoşgeldiniz - @currentUser.FullName </p>

                        @*@if (currentUser.IsAdmin)
                            {
                                <a target="_blank" href="http://localhost:50499/giris-yap">Panele Git</a>
                            }*@
                        @*<a href="~/cikis-yap"> Çıkış</a>*@

                    </div>
                }
                else
                {
                    <div>
                        <p>Üyeliğiniz var mı?</p>
                        <a href="~/giris-yap">Giriş Yap</a> yada <a target="_blank" href="~/yeni-uyelik-olustur">Kayıt Ol</a>
                    </div>
                }

            </div>
        </div>
    </div>
    <div class="box-list">
        <p class="sub-title">Dashboard</p>
        <ul class="list-unstyled components">
            <li class="ana-sayfa">
                <a href="~/ana-sayfa"><i class="fas fa-file-archive"></i> Ana Sayfa</a>
            </li>
            <li class="son-dakika">
                <a href="~/blog/kategori/son-dakika-haberleri"><i class="fas fa-minus"></i>Son Dakika</a>
            </li>
            <li class="makaleler">
                <a href="~/blog"><i class="fas fa-pen-nib"></i>Yayınlar</a>
            </li>
            @if (currentUser != null && (currentUser.IsWriter || currentUser.IsAdmin))
            {
                <li class="makalelerim">
                    <a href="~/makalelerim"><i class="fas fa-pen"></i>Yayınlarım</a>
                </li>
                <li class="yeni-makale">
                    <a href="~/yeni-makale-ekle"><i class="fas fa-plus"></i>Yeni Yayın Ekle</a>
                </li>
            }

        </ul>
    </div>

    <div class="box-list">
        <p class="sub-title">Köşe Yazarları</p>
        <ul class="list-unstyled components">
            @foreach (var item in BTC.Common.Constants.StaticSettings.Writers)
            {
                <li class="@item.Uri">
                    <a href="~/yayinlar/yazar/@item.Uri"><i class="fas fa-user-alt"></i>@item.FirstName @item.LastName</a>
                </li>
            }
        </ul>
    </div>

    <div class="box-list">
        <p class="sub-title">Kategoriler</p>
        <ul class="list-unstyled components">
            @foreach (var item in BTC.Common.Constants.StaticSettings.Categories)
            {
                if (item.Uri != "son-dakika-haberleri")
                {
                    <li class="@item.Uri">
                        <a href="~/blog/kategori/@item.Uri"><i class="fas fa-pen-nib"></i>@item.Name</a>
                    </li>
                }
            }
        </ul>
    </div>

    @if (currentUser != null && (currentUser.IsSupplier || currentUser.IsAdmin))
    {
        <div class="box-list">
            <p class="sub-title">Tedarik</p>
            <ul class="list-unstyled components">
                <li class="urunler">
                    <a href="~/urunler"><i class="fas fa-arrow-right"></i>Ürünler</a>
                </li>
                @if (currentUser != null && (currentUser.IsWriter || currentUser.IsAdmin))
                {
                    <li class="urunlerim">
                        <a href="~/urunlerim"><i class="fas fa-server"></i>Ürünlerim</a>
                    </li>
                    <li class="yeni-urun">
                        <a href="~/yeni-urun-ekle"><i class="fas fa-plus"></i>Yeni Ürün Ekle</a>
                    </li>
                }
            </ul>
        </div>
    }

    @if (BTC.Common.Constants.StaticSettings.ContentViews.Count > 0)
    {
        <div class="box-list">
            <p class="sub-title">İçerikler</p>
            <ul class="list-unstyled components">

                @if (currentUser != null)
                {

                    foreach (var item in currentUser.ContentViews.OrderBy(x => x.RowNumber).ToList())
                    {
                        <li class="@item.Uri">
                            <a href="~/icerik/@item.Uri"><i class="fas fa-file-image"></i>@item.Title</a>
                        </li>
                    }

                }
                else
                {
                    foreach (var item in BTC.Common.Constants.StaticSettings.ContentViews.Where(x => x.CanSeeUser).OrderBy(x => x.RowNumber).ToList())
                    {
                        <li class="@item.Uri">
                            <a href="~/icerik/@item.Uri"><i class="fas  fa-file-image"></i>@item.Title</a>
                        </li>
                    }
                }


            </ul>
        </div>
    }

    @if (currentUser != null && currentUser.IsAdmin)
    {
        <div class="box-list">
            <p class="sub-title">Yönetim</p>
            <ul class="list-unstyled components">
                <li class="tum-uyeler">
                    <a href="~/kullanicilar"><i class="fas fa-users"></i>Kullanıcılar</a>
                </li>
                <li class="tum-makaleler">
                    <a href="~/makale-listesi"><i class="fas fa-list"></i>Makaleler</a>
                </li>
                <li class="tum-urunler">
                    <a href="~/urun-listesi"><i class="fas fa-list"></i>Ürünler</a>
                </li>
                <li class="tum-yorumlar">
                    <a href="~/yorum-listesi"><i class="fas fa-comments"></i>Yorumlar</a>
                </li>
                <li class="tum-kategoriler">
                    <a href="~/kategori-listesi"><i class="fas fa-list"></i>Kategoriler</a>
                </li>
                <li class="mail">
                    <a href="~/mail-ayarlari"><i class="fas fa-mail-bulk"></i>Mail Ayarları</a>
                </li>
                <li class="sms">
                    <a href="~/sms-ayarlari"><i class="fas fa-sms"></i>Sms Ayarları</a>
                </li>
                <li class="site">
                    <a href="~/site-ayarlari"><i class="fas fa-sitemap"></i>Site Ayarları</a>
                </li>
                <li class="icerik">
                    <a href="~/menu-icerikleri"><i class="fas fa-book"></i>İçerik Listesi</a>
                </li>
                <li class="menu-ayarlari">
                    <a href="~/menu-ayarlari"><i class="fas fa-book"></i>Menu Ayarları</a>
                </li>

            </ul>
        </div>
    }
    <div class="box-list">
        <p class="sub-title"></p>
        <ul class="list-unstyled components">
            @*<li class="hakkimizda">
                    <a href="~/hakkimizda"><i class="fas fa-user-friends"></i>Hakkımızda</a>
                </li>*@
            <li class="iletisim">
                <a href="~/iletisim"><i class="far fa-envelope"></i>İletişim</a>
            </li>
        </ul>
    </div>

    @if (currentUser != null)
    {

        <div class="box-list">
            <p class="sub-title">Profilm</p>
            <ul class="list-unstyled components">
                <li class="profilim">
                    <a href="~/profilim"><i class="fas fa-user "></i>Profilim</a>
                </li>
                <li class="sifre">
                    <a href="~/sifre-degistir"><i class="fas fa-user-circle"></i>Şifre İşlemleri</a>
                </li>
                <li class="cikis">
                    <a href="~/cikis-yap"><i class="fas fa-arrow-right"></i>Çıkış</a>
                </li>
            </ul>
        </div>

    }
    else
    {
        <div class="box-sign-up">
            <a target="_blank" href="~/yeni-uyelik-olustur">Kayıt Ol</a>
        </div>
    }

</nav>
