@model List<BTC.Model.Entity.MainMenu>

<table class="table table-bordered">
    <thead>
        <tr>
            <th>Menu İcon</th>
            <th>Sıra No</th>
            <th>Sayfa Adı</th>
            <th>Url</th>
            <th>İşlemler</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @if (!string.IsNullOrWhiteSpace(item.MenuIconUrl))
                    {
                        <img src="@BTC.Common.Constants.ConstantProxy.BaseMenuIconUrl@item.MenuIconUrl" style="max-width:40px" class="img-responsive" />
                    }
                    else
                    {
                        <span>Görsel Yok</span>
                    }
                </td>
                <td>@item.RowNumber</td>
                <td>@item.Title</td>
                <td>@item.Url</td>
                <td>
                    <button class="btn btn-xs btn-danger" type="button" onclick="deleteSubMenuItem(@item.ID)"><i class="fa fa-remove"></i></button>
                </td>
            </tr>
        }

    </tbody>

</table>







